body {
    background-color: gray;
}

nav {
    background: burlywood;
    color:azure;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input {
    width: 40%;
    padding: 8px;
}
